.point{
width: 4px;
height: 4px;
margin: 3px 12px;
border-radius: 100px;
background: rgba(255, 255, 255, 0.6);
display: inline-block;

}

.post{
  max-width: 340px;
  margin: 15px;

  &__img{
    object-fit: cover;
    object-position: center;
    max-width: 340px;
    margin-bottom: 20px;
  }

  &__theme{
    color: rgb(255, 255, 255);
font-family: Patrick Hand;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
display: inline-block;
  }



  &__date{
    color: rgb(255, 255, 255);
font-family: Patrick Hand;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
display: inline;
  }

  &__heading{
color: rgb(255, 255, 255);
font-family: Patrick Hand;
font-size: 24px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
margin-top: 11px;
  }

  &__text{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
font-family: Patrick Hand;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
max-height: 84px;
overflow: scroll;
  }

  &__ava{
    width: 50px;
height: 50px;
object-fit: cover;
object-position: center;
border-radius: 50%;
  }

  &__avtor{
    color: rgb(255, 255, 255);
font-family: Patrick Hand;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;

  }

 &__profession{
color: rgb(255, 255, 255);
font-family: Patrick Hand;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
  }

  &__author{
    margin-top: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
  }
}