* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, rgb(55, 65, 81), rgb(17, 24, 39) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
